<a href="https://colab.research.google.com/github/StevenXJiang/ISEN370/blob/main/Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ISEN 370 Demonstration 
In this demo, you will be shown how to use data science tools to build basic statistics for a Building dataset.

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Data Import

First, import the Building dataset and print the first 10 rows of data. The data is stored in a CSV file for which the path is given in the cell below.

In [20]:
data_url='https://raw.githubusercontent.com/StevenXJiang/ISEN370/main/VU_Building_Data_for_ISEN370_Spr_2020.csv?token=ATX4K2JD7Q2UQAH4KW5VFJTAPW3LQ'

In [21]:
data = pd.read_csv(data_url)

In [22]:
data.head(10)

             Time  ...  TotalEnergy
0   5/1/2019 6:00  ...  2368.259398
1  5/1/2019 12:00  ...  2492.051721
2  5/1/2019 18:00  ...  2780.193712
3   5/2/2019 0:00  ...  3356.955541
4   5/2/2019 6:00  ...  2679.355667
5  5/2/2019 12:00  ...  2325.858735
6  5/2/2019 18:00  ...  3109.230072
7   5/3/2019 0:00  ...  3547.629259
8   5/3/2019 6:00  ...  2893.024089
9  5/3/2019 12:00  ...  2542.561279

[10 rows x 7 columns]

## Statistics Calculation

Calculate and print some of the basic statistics for each of the features of the dataset. Be sure to include at least mean, range, and standard deviation and be sure to print it in such a way that it is clear what each number represents.

## Histogram Plotting

Plot a histogram for each of the features of the dataset. Be sure to include proper titles and axis labels on each of your plots.

**Question**

For each of the features, what distribution do you think best represents them? Explain your reasoning. 

Enter your answer in the text cell below:

**Answer**

## Confidence Interval

**Question**

Which 2 features to you think best fit a normal distrubution? Explain your reasoning.

Enter your answer in the text cell below:

**Answer**

Based on your answer to the above question, build a 95% confidence interval for the mean of each of those features and print it below. Be sure to print in such a way that it is clear what each number represents.

**Question**

Explain how your above code works (conceptually and mathematically).

Enter your answer in the text cell below:

**Answer**

## Bar Graph with Error Bars

Based on your calculated confidence intervals, plot a bar graph of the mean of each of the two features and include error bars to represent your confidence. Again, be sure that your graph is titled and well labeled.